body {
    font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    padding: 10px 0;
    background-color: #f8f8f8;
    text-align: center;
    font-size: 1.5em;
    border-bottom: 1px solid #eaeaea;
}

main {
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
}

form {
    margin-bottom: 20px;
}

label, input[type="text"], input[type="submit"] {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f8f8f8;
    border-top: 1px solid #eaeaea;
}

footer a {
    color: #999;
    text-decoration: none;
}

footer a:hover {
    color: #000;
}
